---
import Cards from "../cards/cards.astro";
import Container from "../shared/Container.astro";
import { card } from "../../utils/data";
import Title from "../shared/Title.astro";

type CardProps = {
  title: string;
  description: string;
  image?: string;
  site: string;
  buttonText: string;
};
---

<section id="recomendations" class="pb-20">
  <div class="flex justify-center mb-5">
    <Title>Recomendaciones</Title>
  </div>
  <Container>
    <div
    class="w-full flex justify-center relative py-8 md:py-10 px-6 md:px-8 md:flex flex-col md:flex-row rounded-2xl bg-gradient-to-tr from-gray-100 to-gray-200 dark:from-gray-900"
    >
      {
        card
          .slice(0, 3)
          .map((card: CardProps) => (
            <Cards
              title={card.title}
              description={card.description}
              image={card.image}
              site={card.site}
              buttonText={card.buttonText}
            />
          ))
      }
    </div>
  </Container>

  <script>
    function executeFunction() {
      const container = document.getElementById("recomendations");
      container.innerHTML = "";

      card.slice(3, 6).map(
        (card) => (container.innerHTML += `<Cards
          title="${card.title}"
          description="${card.description}"
          image="${card.image}"
          site="${card.site}"
          buttonText="${card.buttonText}"
        />`)
      );

      console.log(container);
    }

    document.getElementById("executeButton").addEventListener("click", () => {
      document.dispatchEvent(new Event("data-state-change"));
      executeFunction();
    });
  </script>
</section>
